.nft-card {
    color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    background: #141414;
    border-radius: 2px;
    padding: 5px;
    border: 1px solid #303030;
    cursor: pointer;
    transition: box-shadow 0.3s, border-color 0.3s;
}

.nft-id {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1px;
}

.nft-price {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1px;
}